@model LiftOffProject.ViewModels.AddQuestionViewModel

<h1>Add Questions</h1>

<script>

</script>

<form asp-controller="Quizzes" asp-action="AddQuestions" method="post" id="questionform" />
    <div class="form-group">
        <label asp-for="Query">Query</label>
        <input asp-for="Query" />
        <span asp-validation-for="Query"></span>
    </div>

    <label>
        <label>~Correct Answer</label><input asp-for="CorrectAnswer" type="text" name="correct" value="choice1" /><br />
        <label>Incorrect Answer</label><input asp-for="AnswerOne" type="text" name="incorrect1" value="choice2" /><br/>
        <label>Incorrect Answer</label><input asp-for="AnswerTwo" type="text" name="incorrect2" value="choice3" /><br/>
        </label><br/>
        <span></span>
    

    <button onclick={AddQuestions} id="addQuestion">Add Question</button>  




    <input type="submit" id="addQuestion" value="Finish" />