@model LiftOffProject.ViewModels.AddQuestionViewModel

<h1>Add Questions</h1>

<script>

</script>

<form asp-controller="Quizzes" asp-action="AddQuestions" method="post" id="questionform" />
    <div class="form-group">
        <label asp-for="Query"></label>
        <input asp-for="Query" />
        <span asp-validation-for="Query"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answers">      @*Fix this stuffses. Nothing is being passed to populate the Answer List.*@
        <input asp-for="Answers" type="radio" name="question1" value="choice1" /><input type="text" value="choice1" placeholder="First Choice" />
        <input asp-for="Answers" type="radio" name="question1" value="choice2" /><input type="text" value="choice2" placeholder="Second Choice" />
        <input asp-for="Answers" type="radio" name="question1" value="choice3" /><input type="text" value="choice3" placeholder="Third Choice" />
        </label>
        <span asp-validation-for="Answers"></span>
    </div>

    <button onclick={AddQuestions} id="addQuestion">Add Question</button>  




    <input type="submit" value="Finish" />