@model LiftOffProject.ViewModels.QuizViewModel

<h1>Confirm Delete?</h1>

<form asp-controller="Quizzes" asp-action="Delete" asp-route-id="@Model.QuizId">
    <h2>@Model.Title by: @Model.Author</h2>
    <input type="submit" value="Delete Quiz" />
</form>