@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">QuizzUs</h1>
    <p>Click <a href="~/Identity/Account/Login">here</a> to log in.</p>
    <p>Click <a href="~/Identity/Account/Register">here</a> to register an account.</p>
    <form action="~/Quizzes">
        <input type="submit" value="View Quizzes" />
    </form>
</div>
